.container{
    background-image: url('images/desktop/image-hero.jpg');
    height: 650px;
}
#studios{
    font-size: 35px;
    color: white;
    margin-left: 80px;
    margin-top: 25px;
}
#navbarNav{
    margin-left: 390px;
}
#nav{
    color: white;
    margin-top: 29px;
}
#nav1{
    margin-left: 80px; 
}
ul{
    float: right;
}
.box{
    border: 2px solid white;
    width: 520px;
    height: 250px;
    margin-left: 100px;
    margin-top: 130px;
    font-size: 55px;
    color: white;
}
#para1{
    margin-left: 20px;
}



#box2{
    width: 500px;
    height: 400px;
    margin-left: 680px;
    margin-top: 250px;
    background-color: white;
}
#img{
    margin-left: 150px;
    margin-top: 50px;

}




.btn-primary{
    background-color: black !important;
    height:35px;
    width:150px;
   margin-left: 375px;
    margin-top: 1px;;
}
.row1{
    margin-top: 35px;
display: flex;


}
.row2{
    
   display:flex;
 margin-top: 5px;
 padding-top: 25px 0px 25px;

}
#oour{
    font-size: 35px;
}
#img1{
    position: RELATIVE;
    bottom: 120px;
    left:80px;
    color:white;
    font-size: 30px;
}
#img2{
    position: RELATIVE;
    bottom: 120px;
    left:80px;
    color:white;
    font-size: 30px;
}
#img3{
    position: relative;
    bottom: 120px;
    left:80px;
    color:white;
    font-size: 30px;
}
#img4{
    position: RELATIVE;
    bottom: 120px;
    left:80px;
    color:white;
    font-size: 30px;
}
#img5{
    position: relative;
BOTTOM: 120px;
    left:70px;
    color:white;
    font-size: 30px;}
#img6{
        position: relative;
    BOTTOM: 120px;
        left:70px;
        color:white;
        font-size: 30px;
}
#img7{
            position: relative;
        BOTTOM: 120px;
            left:70px;
            color:white;
            font-size: 30px;
}
#img8{
                position: relative;
            BOTTOM: 120px;
                left:70px;
                color:white;
                font-size: 30px;
}
.container1{
            margin-top: 700px;
            margin-left: 200px;
            width:900px;
}
.col3{
    margin-left: 10px;
    margin-right: 40px;
}




                #fasm{
                    color: white;
                    margin-bottom:40px;
                    margin-top:20px;
                    padding-top: 40px;
                    margin-left:100px;
                }
                #con{
                    background-color: black;
                    margin-top: 40px;
                    width:1000px;
                  
                    float:right;
                }
                #form{
                    color: white;
                    margin-bottom: 40px;
                    margin-left:100px;
                    padding-bottom: 40px;
                    margin-top:10px;
                }
                #fb{
                       
                        height: 25px;
                        width: 25px;
                        margin-top: 70px;
                        margin-bottom: 10px;
                        margin-left: 390px;
                    }
                #twi{
                    height: 25px;
                    width: 25px;
                    margin-top: 70px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                 
                }
                #pin{
                height: 25px;
                width: 25px;
                margin-top: 70px;
                margin-bottom: 10px;
             margin-left: 10px;
               
               }
               #inst{
                height: 25px;
                width: 25px;
                margin-top: 70px;
                margin-bottom: 10px;
                margin-left: 10px;
               }
                    
                    #n{
                        color: white;
                    }
                    .row-6{
                        padding-bottom:70px;
                        padding-left:100px;
                    
                    }
                    #copy{
                        color: gray;
                        margin-left: 550px;
                     
                    }
                    
                
                